.mat-input-element {
  font-size: medium;
  font-weight: 200;
}

.spacer {
  padding: 10px;
}

.spinner-overlay {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100vw; 
  height: 100vh; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background: rgba(0,0,0,0.3);
  z-index: 9998; 
}

.spinner {
  width: 100px;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  z-index: 9999; 
}

#fileInput {
  position: absolute;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  padding-bottom: 2px;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
  width: auto !important;
}

.message {
  border: #aaa solid 1px;
  border-radius: 4px;
}
.table {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
}

.table-row.header {
  font-weight: bold;
}

.table-cell {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
}

.preview {
  max-width: 40px;
  vertical-align: middle;
}

.list-card {
  margin-top: 20px;
}

.list-item {
  margin-bottom: 20px;
}
